
*
  box-sizing border-box
  // box-shadow 0px 0px 4px hsl(0,0,80)

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

@font-face
  font-family lost-name
  src url("http://s.zjut.in/font/no-name5.woff")
  font-weight 400px

body
  margin 0px
  font-family lost-name, "wenquanyi micro hei",
    "microsoft yahei"
  background url(../pic/lake.jpg) center center
  background-attachment fixed

#wrap
  width 900px
  margin 0px auto
  padding 10px 30px 200px
  background-color hsl(0,50,90)
  background-color hsla(0,50,90,0.4)
  box-shadow 0px 0px 8px hsl(0,10,60)

#info
  margin 80px 0px

.title
  font-size 34px
  margin 60px 0px

p
  padding 0px
  margin 0px
  font-size 20px