* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
@font-face {
  font-family: lost-name;
  src: url("http://s.zjut.in/font/no-name5.woff");
  font-weight: 400px;
}
body {
  margin: 0px;
  font-family: lost-name, "wenquanyi micro hei", "microsoft yahei";
  background: url("../pic/lake.jpg") center center;
  background-attachment: fixed;
}
#wrap {
  width: 900px;
  margin: 0px auto;
  padding: 10px 30px 200px;
  background-color: #f2d9d9;
  background-color: rgba(242,217,217,0.4);
  box-shadow: 0px 0px 8px #a38f8f;
}
#info {
  margin: 80px 0px;
}
.title {
  font-size: 34px;
  margin: 60px 0px;
}
p {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
